<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-container x-about-content">
<p class="logo"><i class="x-icon-logo"></i></p>

<h3>品牌理念：</h3>

<p>人性化的健康管理及呵护先进的科技及产品体验继往开来，我们将奉行“诚信、进取、务实、创新”的企业精神，将更多更好的健康产品奉献给广大的民众，为您的家庭健康忠实护航。</p>

<h3>企业介绍：</h3>

<p>重庆先洋医药科技有限公司于成立于2010年，集药品研发、生产、销售、技术咨询、新产品转让为一体，是理念新、实力强、发展势头好的新型医药企业团队。</p>

<p>为集新药开发、委托加工、全国总代理为一体的药品经营实体。</p>

<p>公司下设商务部、客户服务部、市场部、质管部、财务部、物流部和新药研究中心等。公司广揽各类专业技术人才，建立了一支团结、协作、高效、精良的工作团队。销售网络已遍布全国各省市、自治区，为各级医院提供了大量的</p>
</div>

</body>
</html>
