<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-lease-actionbar">
<div class="x-lease-actionbar-row1">
<a href="javascript:;" class="weui-btn weui-btn_primary">联系我们</a>
</div>
</div>

<div class="x-container">
<div class="x-as-search">
<span class="input"><input type="text" placeholder="请输入服务标签或产品ID" /></span>
<span class="button"><input type="button" value="查询" /></span>
</div>

<div class="weui-cells x-as-info">
<div class="weui-cell">
<div class="weui-cell__bd result">
<i class="x-icon-paystatus1"></i>
<div class="result-text">
<p class="result-title"><i class="x-icon-paystatus2 x-icon-paystatus2-1"></i>正品保证</p>
<p>产品有效期：2018-12-31</p>
</div>
</div>
</div>
<div class="weui-cell">
<div class="weui-cell__hd"><i class="x-icon-aftersale x-icon-aftersale-1"></i></div>
<div class="weui-cell__bd">服务电话</div>
<div class="weui-cell__ft">400-xxx-xxxx</div>
</div>
<div class="weui-cell">
<div class="weui-cell__hd"><i class="x-icon-aftersale x-icon-aftersale-2"></i></div>
<div class="weui-cell__bd">移动电话</div>
<div class="weui-cell__ft">135-xxxx-xxxx</div>
</div>
<div class="weui-cell">
<div class="weui-cell__hd"><i class="x-icon-aftersale x-icon-aftersale-3"></i></div>
<div class="weui-cell__bd">电子邮箱</div>
<div class="weui-cell__ft">xxx@xxxxx.com</div>
</div>
<div class="weui-cell">
<div class="weui-cell__hd"><i class="x-icon-aftersale x-icon-aftersale-4"></i></div>
<div class="weui-cell__bd">QQ客服</div>
<div class="weui-cell__ft">xxxxxxxxxx</div>
</div>
</div>
</div>

</body>
</html>
