<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-cart-actionbar">
<div class="x-cart-actionbar-row1">
<a href="javascript:;" class="weui-btn weui-btn weui-btn_default">上一步</a>
<a href="javascript:;" class="weui-btn weui-btn_primary">去支付</a>
</div>
</div>

<div class="x-container">
<ol class="x-cart-stab">
<li>1.购物车列表</li>
<li>2.确认订单</li>
<li class="active">3.购买成功</li>
</ol>

<div class="weui-cells weui-cells_radio x-cart-paytype">
<label class="weui-cell weui-check__label" for="x11">
<div class="weui-cell__hd"><i class="x-icon-paytype x-icon-paytype-1"></i></div>
<div class="weui-cell__bd">
<p>微信支付</p>
</div>
<div class="weui-cell__ft">
<input type="radio" class="weui-check" name="radio1" id="x11" checked="checked" />
<span class="weui-icon-checked"></span>
</div>
</label>
<label class="weui-cell weui-check__label" for="x12">
<div class="weui-cell__hd"><i class="x-icon-paytype x-icon-paytype-2"></i></div>
<div class="weui-cell__bd">
<p>支付宝支付</p>
</div>
<div class="weui-cell__ft">
<input type="radio" name="radio1" class="weui-check" id="x12" />
<span class="weui-icon-checked"></span>
</div>
</label>
<label class="weui-cell weui-check__label" for="x13">
<div class="weui-cell__hd"><i class="x-icon-paytype x-icon-paytype-3"></i></div>
<div class="weui-cell__bd">
<p>银行卡</p>
</div>
<div class="weui-cell__ft">
<input type="radio" name="radio1" class="weui-check" id="x13" />
<span class="weui-icon-checked"></span>
</div>
</label>
</div>
</div>

</body>
</html>
