<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-cart-actionbar">
<div class="x-cart-actionbar-row1">
<a href="javascript:;" class="weui-btn weui-btn weui-btn_default">上一步</a>
<a href="javascript:;" class="weui-btn weui-btn_primary">结算中心</a>
</div>
</div>

<div class="x-container">
<ol class="x-cart-stab">
<li>1.购物车列表</li>
<li class="active">2.确认订单</li>
<li>3.购买成功</li>
</ol>

<div class="x-cart-addr">
<textarea placeholder="请输入收货地址"></textarea>
</div>
</div>

</body>
</html>
