<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="weui-tabbar x-tabbar">
<a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
<i class="weui-tabbar__icon x-tabbar-icon x-tabbar-icon-1"></i><p class="weui-tabbar__label">我的医狗儿</p>
</a>
<a href="javascript:;" class="weui-tabbar__item">
<i class="weui-tabbar__icon x-tabbar-icon x-tabbar-icon-2"></i><p class="weui-tabbar__label">产品中心</p>
</a>
<a href="javascript:;" class="weui-tabbar__item">
<i class="weui-tabbar__icon x-tabbar-icon x-tabbar-icon-3"></i><p class="weui-tabbar__label">个人中心</p>
</a>
</div>

<div class="x-container">
<div class="x-home-panel">
<p class="x-home-panel-title">医狗儿本草超声灸颈环<br />KQSDKP-88888</p>

<ul class="x-home-panel-power">
<li class="item item-1"><a href="javascript:;"><i class="x-icon-power x-icon-power-1"></i></a><span class="title">低档</span></li>
<li class="item item-2"><a href="javascript:;"><i class="x-icon-power x-icon-power-2"></i></a><span class="title">中档</span></li>
<li class="item item-3 item-active"><a href="javascript:;"><i class="x-icon-power x-icon-power-3"></i></a><span class="title">强档</span></li>
</ul>

<div class="x-home-panel-status">
<a href="javascript:;"><i class="x-icon-status x-icon-status-1"></i><span class="title">开始</span></a>
</div>
</div>

<div class="x-home-intro">
<h2>签约治疗</h2>
<p>您当前连续使用<strong>5</strong>天……</p>
</div>
</div>

</body>
</html>
