<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-lease-actionbar">
<div class="x-lease-actionbar-row2">
<label>
<input type="checkbox" />
<a href="javascript:;">同意《医狗儿设备租赁协议》</a>
</label>
</div>
<div class="x-lease-actionbar-row1">
<a href="javascript:;" class="weui-btn weui-btn_primary">我要预约</a>
</div>
</div>

<div class="x-container">
<div class="x-lease-list-title">可租设备</div>

<ul class="x-lease-list">
<li><a href="javascript:;">
<span class="cover"><img /></span>
<span class="title">先立可草本超声灸</span>
<span class="price">1000台</span>
</a></li>
<li><a href="javascript:;">
<span class="cover"><img /></span>
<span class="title">先立可草本超声灸</span>
<span class="price">1000台</span>
</a></li>
<li><a href="javascript:;">
<span class="cover"><img /></span>
<span class="title">先立可草本超声灸</span>
<span class="price">1000台</span>
</a></li>
</ul>
</div>

</body>
</html>
