<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-lease-actionbar">
<div class="x-lease-actionbar-row1">
<a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
</div>
</div>

<div class="x-container">
<div class="weui-cells x-lease-option">
<label class="weui-cell weui-cell_access">
<div class="weui-cell__hd"><input type="checkbox" /></div>
<div class="weui-cell__bd">
<p>医狗儿本草超声灸腰带</p>
</div>
</label>
<label class="weui-cell weui-cell_access">
<div class="weui-cell__hd"><input type="checkbox" /></div>
<div class="weui-cell__bd">
<p>医狗儿本草超声灸颈环</p>
</div>
</label>
<div class="weui-cell">
<div class="weui-cell__bd">
<textarea placeholder="预约备注"></textarea>
</div>
</div>
<a class="weui-cell weui-cell_access" href="javascript:;">
<div class="weui-cell__hd"><i class="x-icon-cal"></i></div>
<div class="weui-cell__bd">
<p>时间选择</p>
</div>
<div class="weui-cell__ft"></div>
</a>
</div>
</div>

</body>
</html>
