<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="static/lib/weui/style/weui.min.css" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="x-pc2-navbar">
<a href="javascript:;">积分商城</a>
<a href="javascript:;">兑换记录</a>
<a href="javascript:;" class="active">积分规则</a>
</div>

<div class="x-container">
<div class="x-pc2-info">
<div class="user">
<p class="avatar"><img /></p>
<p class="name">医狗儿</p>
<p class="point">积分：300</p>
</div>
<div class="edit"><a href="javascript:;">编辑信息</a></div>
</div>

<div class="weui-cells x-pc2-list">
<div class="weui-cell">
<div class="weui-cell__bd">获得一个点赞</div>
<div class="weui-cell__ft point">+10</div>
</div>
<div class="weui-cell">
<div class="weui-cell__bd">获得一个点赞</div>
<div class="weui-cell__ft point">+10</div>
</div>
<div class="weui-cell">
<div class="weui-cell__bd">获得一个点赞</div>
<div class="weui-cell__ft point">+10</div>
</div>
<div class="weui-cell">
<div class="weui-cell__bd">获得一个点赞</div>
<div class="weui-cell__ft point">+10</div>
</div>

<div class="weui-cell">
<div class="weui-cell__bd desc">
<p>积分规则说明：</p>
<p>签到+1积分，关注公众号+10积分，获得点赞+1积分，分享+1积分，使用一次产品+20积分</p>

<p class="point">1积分 = 1元人民币</p>
<p>本积分规则最终解释权归先洋医药科技</p>
</div>
</div>
</div>
</div>

</body>
</html>
